{% extends "views/templates/void-main.html" %}
{% block title %} 基础设置 {% endblock %}
{% block collapse %} sidebar-collapse {% endblock %}
{% block head %}
<link rel="stylesheet" href="/css/setting.css">
{% endblock %}

{% block contentid %}setting{% endblock %}
{% block content %}
{% raw %}
<!-- html内容 -->
<div id="setting" ng-controller="SettingCtrl">
  <div class="form_box">
    <form class="form-horizontal" name="settingForm">

      <div class="form-group">
        <label for="input_nikename" class="col-sm-2 control-label">昵称：</label>
        <div
          class="col-sm-10"
          ng-class="{ 
            'has-error' : settingForm.nikename.$invalid && settingForm.nikename.$touched,
            'has-success' : settingForm.nikename.$valid && settingForm.nikename.$touched
          }"
        >
          <input 
            type="text" 
            class="form-control" 
            id="input_nikename" 
            name="nikename"
            placeholder="请再次输入密码" 
            ng-model="user.nikename"
            required
            maxlength="20"
          >
          <div>{{user.nikename}}</div>
          <p class="error_tip" ng-if="settingForm.nikename.$invalid && settingForm.nikename.$touched">
              昵称不能为空
          </p>
        </div>
      </div>

      <div class="form-group ">
        <label for="input_login_id" class="col-sm-2 control-label">账号：</label>
        <div 
          class="col-sm-10" 
          ng-class="{ 
            'has-error' : settingForm.login_id.$invalid && settingForm.login_id.$touched,
            'has-success' : settingForm.login_id.$valid && settingForm.login_id.$touched
          }">
          <input 
            class="form-control" 
            id="input_login_id" 
            name="login_id" 
            type="text" 
            placeholder="请输入域名(6-20个字符)" 
            ng-model="user.login_id"
            required
            ng-minlength="6"
            ng-maxlength="30"
          >
          <div class="error_tip" ng-if="settingForm.login_id.$invalid && settingForm.login_id.$dirty">
            长度为6-30个字符
          </div>
          <div>{{user.login_id}}</div>
        </div>
      </div>
      <div class="form-group">
        <label for="input_login_pass" class="col-sm-2 control-label">密码：</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="input_login_pass" placeholder="请输入密码" ng-model="user.login_pass">
          <div>{{user.login_pass}}</div>
        </div>
      </div>

      <div class="form-group">
        <label for="input_login_pass" class="col-sm-2 control-label">确认密码：</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="input_login_pass" placeholder="请再次输入密码" ng-model="user.login_pass">
          <div>{{user.login_pass}}</div>
        </div>
      </div>
      
      <div class="form-group">
        <label for="input_mobile" class="col-sm-2 control-label">手机：</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="input_mobile" placeholder="请再次输入密码" ng-model="user.mobile">
          <div>{{user.mobile}}</div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button 
            type="submit"
            class="btn btn-primary"
            ng-disabled="" 
            ng-click="save()"
          >
            保存
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endraw %}


{% endblock %}
{% block script %}

<!-- 引入js -->
<script src="/js/controller/setting.js"></script>
{% endblock %}
{% block js %}
<script>
"use strict";
angular.module('app', ['fpm.c.setting' ])
</script>
{% endblock %}
