{% extends "views/templates/void-main.html" %}
{% block title %} 基础设置 {% endblock %}
{% block collapse %} sidebar-collapse {% endblock %}
{% block head %}
<link rel="stylesheet" href="/css/setting.css">
{% endblock %}

{% block contentid %}setting{% endblock %}
{% block content %}
{% raw %}
<!-- html内容 -->
<div id="setting" ng-controller="SettingCtrl">
  <div class="form_box">
    <form class="form-horizontal" name="settingForm">

      <div class="form-group">
        <label for="input_nickname" class="col-sm-2 control-label">昵称：</label>
        <div
          class="col-sm-10"
          ng-class="{ 
            'has-error' : settingForm.nickname.$invalid && settingForm.nickname.$dirty,
            'has-success' : settingForm.nickname.$valid && settingForm.nickname.$dirty
          }"
        >
          <input 
            type="text" 
            class="form-control" 
            id="input_nickname" 
            name="nickname"
            placeholder="请输入昵称" 
            ng-model="user.nickname"
            required
            maxlength="20"
            aria-describedby="inputSuccess2Status"
          >
          <div>{{user.nickname}}</div>
          <p class="error_tip" ng-if="settingForm.nickname.$invalid && settingForm.nickname.$dirty">
              昵称不能为空
          </p>
        </div>
      </div>

      <div class="form-group">
        <label for="input_password" class="col-sm-2 control-label">密码：</label>
        <div 
          class="col-sm-10"
          ng-class="{ 
            'has-error' : settingForm.password.$invalid && settingForm.password.$dirty,
            'has-success' : settingForm.password.$valid && settingForm.password.$dirty
          }"
        >
          <input
            type="password"
            class="form-control" 
            id="input_password" 
            name="password" 
            placeholder="请输入密码(6-20个字符)" 
            ng-model="user.password"
            required
            ng-minlength="6"
            ng-maxlength="20"
          >
            <div class="error_tip" ng-if="settingForm.password.$invalid && settingForm.password.$dirty">
              长度为6-20个字符
            </div>
          <div>{{user.password}}</div>
        </div>
      </div>
      
      <div class="form-group">
        <label for="input_mobile" class="col-sm-2 control-label">手机：</label>
        <div
          class="col-sm-10"
          ng-class="{ 
            'has-error' : settingForm.mobile.$invalid && settingForm.mobile.$dirty,
            'has-success' : settingForm.mobile.$valid && settingForm.mobile.$dirty
          }"
        >
          <input 
            type="text" 
            class="form-control" 
            id="input_mobile" 
            name="mobile"
            placeholder="请输入手机号" 
            ng-model="user.mobile"
            required
            pattern="^1[345789]\d{9}$"
          >
            <div class="error_tip" ng-if="settingForm.mobile.$invalid && settingForm.mobile.$dirty">
              请输入正确的手机号
            </div>
          <div>{{user.mobile}}</div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button 
            type="submit"
            class="btn btn-primary"
            ng-disabled="settingForm.$invalid" 
            ng-click="save()"
          >
            注册
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endraw %}


{% endblock %}
{% block script %}

<!-- 引入js -->
<script src="/js/controller/setting.js"></script>
{% endblock %}
{% block js %}
<script>
"use strict";
angular.module('app', ['fpm.c.setting' ])
</script>
{% endblock %}
