<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      {% for menu in menus %}
      {% if menu.type == '-' %}
      <li class="header">{{ menu.title }}</li>
      {% else %}
      <li><a href="{{menu.url if menu.url else menu.path}}" {% if menu.url %}target="_blank"{% endif %}><i class="fa fa-{{menu.icon}}"></i> <span>{{ menu.title }}</span></a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
