{% extends "views/templates/void-main-with-footer.html" %}
{% block title %} 监控管理 {% endblock %}

{% block content %}
<div ng-app="app">
  <div ng-controller="MainControll" ng-cloak>
    <section class="content-header">
      <h1>
        监控管理
      </h1>
      <!-- <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Simple</li>
      </ol> -->
    </section>
  
      <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-3">
          <button class="btn btn-primary btn-block margin-bottom">添加监控点位</button>
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">项目</h3>
            </div>
            <div class="box-body no-padding">
              <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#"><i class="fa fa-folder-open-o"></i> 高邮光明小镇项目
                  <span class="label label-primary pull-right">12</span></a>
                </li>
                <li><a href="#"><i class="fa fa-folder-o"></i> 瑞威光电项目</a></li>
                
              </ul>
            </div>
            <!-- /.box-body -->
          </div>

        </div>
        <div class="col-md-9">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">点位列表</h3>
              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="搜索">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="mailbox-controls">
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
              </div>
              <!-- /.pull-right -->
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table table-hover table-striped">
                <tr>
                  <th style="width: 10px">#</th>
                  <th>点位名称</th>
                  <th>IP地址</th>
                  <th>端口</th>
                  <th>用户名</th>
                  <th>经纬度</th>
                  <th>网络类型</th>
                  <th>是否在线</th>
                  <th>是否支持NVR</th>
                </tr>
                {% for i in [1,2,3,4,5,6,7,8] %}
                <tr>
                  <td><input type="checkbox"></td>
                  <td>监控-001</td>	
                  <td>192.168.100.100</td>	
                  <td>554</td>	
                  <td>admin</td>	
                  <td>32.21212121, 126.12121511</td>	
                  <td>内网</td>	
                  <td><i class="fa fa-close text-red"></i></td>	
                  <td><i class="fa fa-close text-red"></i></td>
                </tr>
                {% endfor %}
              </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">&raquo;</a></li>
              </ul>
            </div>
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
          
  </div>
</div>
{% endblock %}

{% block script %}

{% endblock %}
{% block js %}
<script>
  var app = angular.module('app',[]);
  app.controller('MainControll', [ '$scope', '$http', function($scope, $http){

  }]);
  
</script>
{% endblock %}