{% extends "views/templates/void-main.html" %}
{% block title %} 数据大屏 {% endblock %}
{% block collapse %} sidebar-collapse {% endblock %}
{% block head %}
<style>
#dashboard{
  background-image: url(dashboard.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: fixed; */
  /* display: block; */
}
#img{
  display: block;
  padding: none;
  margin: none;
  width: 100%;
}
#screen{
  padding: 20px 20px 50px;
  /* background: #3c8dbc;
  background:
          linear-gradient(135deg, transparent 10px, #3c8dbc 0)
          top left,
          linear-gradient(-135deg, transparent 10px, #3c8dbc 0)
          top right,
          linear-gradient(-45deg, transparent 10px, #3c8dbc 0)
          bottom right,
          linear-gradient(45deg, transparent 10px, #3c8dbc 0)
          bottom left;

  background-size: 50% 50%;
  background-repeat: no-repeat; */

}
.bg-dark{
  background: #0c1c2c;
  border: 1px solid #2d55a0;
  border-radius: 10px;
  box-shadow: 0 0 50px #2d55a0;
  opacity: 0.8;
}
.padding-10{
  padding: 15px 10px;
}
.margin-top-20{
  margin-top: 20px;
}
#ground{
  /* background: #2d55a0;
  background:
          linear-gradient(135deg, transparent 10px, #2d55a0 0)
          top left,
          linear-gradient(-135deg, transparent 10px, #2d55a0 0)
          top right,
          linear-gradient(-45deg, transparent 10px, #2d55a0 0)
          bottom right,
          linear-gradient(45deg, transparent 10px, #2d55a0 0)
          bottom left;

  background-size: 50% 50%;
  background-repeat: no-repeat; */
  margin: 20px;
  padding: 16px;
}

.bg-trans{
  background: #1f2768;
  /* border: 2px solid #2d55a0; */
  /* border-radius: 2px; */
  min-height: 300px;
  background:
          linear-gradient(135deg, transparent 10px, #1f2768 0)
          top left,
          linear-gradient(-135deg, transparent 10px, #1f2768 0)
          top right,
          linear-gradient(-45deg, transparent 10px, #1f2768 0)
          bottom right,
          linear-gradient(45deg, transparent 10px, #1f2768 0)
          bottom left;

  background-size: 50% 50%;
  background-repeat: no-repeat;
}
.text-fff{
  color: #fff;
}
.light{
  text-shadow:-5px 0 black,
              0 5px black,
              5px 0 black,
              0 -5px black;
}
.center{
  text-align: center;
}
</style>
{% endblock %}

{% block contentid %}dashboard{% endblock %}
{% block content %}
<div id="ground" ng-controller="DashboardCtrl">
  <div id="screen">
    <h1 class="center text-fff light">Richer 物联网云数据看板</h1>
    <div class="row margin-top-20">
      <div class="col-lg-4 col-xs-6">
        <div class="padding-10 bg-dark">
          <div id="device-chart" style="width: 100%;height:300px;"></div>
        </div> 

      </div>

      <div class="col-lg-4 col-xs-6">
        <div class="padding-10 bg-dark">
          <div id="month-chart" style="width: 100%;height:300px;"></div>
        </div>    
      </div>

      <div class="col-lg-4 col-xs-6">
        <div class="padding-10 bg-dark">
          <div id="year-chart" style="width: 100%;height:300px;"></div>
        </div>    
      </div>

    </div>

    <div class="row margin-top-20">
      <div class="col-lg-4 col-xs-6">
        <div class="padding-10 bg-dark">
          <div id="alarm-chart" style="width: 100%;height:300px;"></div>
        </div>    
      </div>
          
    </div>
    
  </div>
</div>

{% endblock %}
{% block script %}
<script src="/lib/echarts/echarts.min.js"></script>
<script src="/js/controller/dashboard.js"></script>
{% endblock %}
{% block js %}
<script>
"use strict";
angular.module('app', ['fpm.c.dashboard' ])
</script>
{% endblock %}
