{% extends "views/templates/void-main-with-footer.html" %}
{% block title %} Title Here {% endblock %}

{% block content %}
<div>
  <div ng-controller="YourControll" ng-cloak>
    <section class="content-header">
      <h1>
        Title Here
      </h1>
    </section>

      <!-- Main content -->
    <section class="content">
      <p> Content Here</p>
    </section>

  </div>
</div>
{% endblock %}

{% block script %}
<!-- include the angular controller script js -->
<!-- <script src="echarts/dist/echarts.min.js"></script> -->
{% endblock %}
{% block js %}
<script>
  // init the angualr module
</script>
{% endblock %}